/* Fade text */

/* 	Transition_delay = 2 sec
	Fadeout_delay = Transition_delay / 2 
*/

.TextBox{
	opacity: 1.0;
	transition: opacity 1s ease; 
}

/* Styles */
.App {
  transition: background-color 2s ease;
}

.Quote {
  transition: color 2s ease;
  text-shadow: 1px 1px 1px #000000;
}
